//sidebar styles

body {

  .sidebar {
    position: fixed;
    height: 100%;
    background-color: #f1f1f1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    margin-left: 250px; /* Ширина вашего сайдбара */
    padding: 20px;
    width: 100%;
  }

  // Switch styles
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    // Hide default HTML checkbox
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    // The slider
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.2s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.2s;
      }

      input:checked + & {
        background-color: #3153ca;
      }

      input:focus + & {
        box-shadow: 0 0 1px #3153ca;
      }

      input:checked + &:before {
        transform: translateX(26px);
      }
    }

    // Rounded sliders
    &.round {
      .slider {
        border-radius: 34px;
      }

      .slider:before {
        border-radius: 50%;
      }
    }
  }

  // Styles for select
  .custom-select {
    appearance: none;
    background-image: url("/arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  // Styles for checkbox
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 1px solid #3153ca;
      border-radius: 6px;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    input:checked ~ .checkmark {
      background-color: #3153ca;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  // Dropdown
  .hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .visible {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}
